{% extends "layout/base.html" %}

{% block head %}
  <title>book detail</title>
  {% load humanize %}
  {% load mathfilters %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'books:book_list' %}">Books</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">profile</li>
            <li class="ml-auto">
              <a href="{% url 'accounts:logout' %}">logout</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-5">
        <div class="card">
          <div class="profile-img">
            <img src="/static/images/title.png" class="card-img-top">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ user.username }}</li>
            <li class="list-group-item">
              {{ user.email }}
              {% if user.verified_email %}
                <span class="badge badge-success">인증완료</span>
              {% else %}
                <a href="" onclick="verify_email()">
                  <span class="badge badge-secondary">인증하기</span>
                </a>
              {% endif %}
            </li>
            <li class="list-group-item">
              <span class="badge badge-primary">전체 {{ book_all_cnt }}</span>
              <span class="badge badge-success">성공 {{ book_success_cnt }}</span>
              <span class="badge badge-secondary">실패 {{ book_fail_cnt }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-sm-7">
        {% for coupon in coupons %}
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ coupon.admin_coupon.coupon_url.url }}" class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ coupon.admin_coupon.name }}</h5>
                  <p class="card-text">{{ coupon.admin_coupon.text }}</p>
                  <p class="card-text">"{{ coupon.book.title }}" 책을 다읽고 얻은 쿠폰입니다.</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    function verify_email() {
      if(!confirm("이메일 인증을 하시겠습니까?")) {
        return null;
      }

      let data = {csrfmiddlewaretoken: "{{ csrf_token }}"};
      let url = "{% url 'accounts:verify_email' %}";
      $.post(url, data)
        .done(function () {
          alert("이메일을 확인해주세요:)");
        })
        .fail(function (data) {
          alert("code: "+data.status);
        })
    }
  </script>
{% endblock %}
