.login-form {
  width: 300px;
  margin: auto;
}

.login-form-img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 50px 0;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2 !important;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 3 !important;;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important;;
  }
}