.login-form {
  width: 300px;
  margin: auto;
}

.login-form-img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 50px 0;
}

.card-group > .card {
  min-width: 250px;
}

@media all and (max-width: 575px) {
  .card-group > .card {
    max-width: 530px;
  }
}